anguage: python
install:
- pip install -r requirements.txt

script:
- python tests/v1/test_products.py
- python tests/v1/test_sales.py
- coverage run tests/v1/test_sale.py
- coverage run tests/v1/test_product.py
